---
import logo from "../assets/logo-imagen.png";

const menuItems = [
    {
        text: "PROYECTOS",
        href: "#proyectos"
    },
    {
        text: "CONTACTO",
        href: "#contacto"
    }
];
---

<header class="fixed top-0 left-0 w-screen z-50 transition-all duration-300" id="main-header">
    <nav class="container mx-auto px-8 md:px-16 lg:px-24">
        <div class="flex justify-between items-center">
            <div id="logo" class="w-72 md:w-48 lg:w-62 flex items-center mt-3">
                <img 
                    src={logo.src}
                    alt="Logo de 215 Files"
                    class="w-full h-auto"
                />
            </div>
            <div id="navbar" class="hidden md:flex space-x-16 items-center pt-3">
                {menuItems.map((item) => (
                    <a 
                        href={item.href} 
                        class="text-white hover:text-[rgb(255,43,57)] font-medium transition-all duration-300 hover:scale-110 text-xl md:text-2xl lg:text-2xl"
                    >
                        {item.text}
                    </a>
                ))}
            </div>
        </div>
    </nav>
</header>